
.GameContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: min(80vh, 80vw, 420px);
    gap: 1.5rem;
}

.FullQuestion {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px black);
}

.QuestionContainerContainer{
    display: flex;
    flex-shrink: 1;
    background-color: gray;
    border: var(--question-border-radius) solid gray;
    border-top-left-radius: var(--question-border-radius);
    border-top-right-radius: var(--question-border-radius);
    border-bottom: none;
    justify-content: center;
}

.QuestionContainer {
    display: flex;
    max-width: 100%;
    height: min-content;
    border: 3px solid dimgray;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.QuestionImage {
    object-fit: contain;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    max-height: 100%;
}

.QuestionName {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    border: 5px solid gray;
    border-bottom-left-radius: var(--question-border-radius);
    border-bottom-right-radius: var(--question-border-radius);
    background-color: gray;
    margin: 0;
}

.QuestionAnswer {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.GuessInput {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: dimgray;
    border: 5px solid slategray;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.GuessInputContainer {
    display: flex;
    flex-shrink: 1;
    gap: 4px;
    height: 2rem;
    position: relative;
}

.GuessInputForm {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    height: 2rem;
}

.UnitSelectContainer {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgray;
    border: 5px solid slategray;
    border-radius: 5px;
    position: absolute;
    right: 0;
}

.UnitSelect {
    font-size: large;
    font-weight: bold;
    background: dimgray;
    border: none;
}

/* Remove spinners in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Remove spinners in Firefox */
input[type="number"] {
    appearance: textfield;
}

.GuessesContainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}