
.GameContainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    max-width: min(80vh, 80vw, 420px);
    gap: 1.5rem;
}

.FullQuestion {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px var(--drop-shadow-color));
    min-height: 0;
}

.QuestionContainerContainer{
    display: flex;
    min-height: 0;
    flex-shrink: 1;
    background-color: var(--container-border-color);
    border: var(--question-border-radius) solid var(--container-border-color);
    border-top-left-radius: var(--question-border-radius);
    border-top-right-radius: var(--question-border-radius);
    border-bottom: none;
    justify-content: center;
}

.QuestionImage {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
    min-width: 0;
    padding: 1rem;
}

.QuestionContainer {
    display: flex;
    flex-shrink: 1;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    max-height: 100%;
    border: 3px solid var(--container-border-color);
    border-radius: 10px;
    background-color: var(--image-background-color);
    justify-content: center;
}

@media (height < 800px){
    .FullQuestion {
        max-height: max(35vh, 50vw);
    }
}


.QuestionName {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    border: 5px solid var(--container-border-color);
    border-bottom-left-radius: var(--question-border-radius);
    border-bottom-right-radius: var(--question-border-radius);
    background-color: var(--container-border-color);
    margin: 0;
}

.QuestionAnswer {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.GuessInput {
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    color: var(--font-color);
    font-weight: bold;
    font-size: large;
    height: 100%;
    margin: 0;
    padding: 0 5px;
    border: 0;
    background-color: var(--container-background-color);
}

.GuessContainer {
    display: flex;
    flex-shrink: 1;
    gap: 4px;
    align-items: center;
    height: 2rem;
    width: 100%;
}

.GuessInputContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 2rem;
    min-width: 0;

}

.GuessInputForm {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    width: 70%;
    border: 5px solid var(--input-border-color);
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.GuessInput:focus {
    outline: none;
    filter: brightness(95%);
}

.UnitSelectContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--container-background-color);
    border: 5px solid var(--input-border-color);
    height: 100%;
    min-width: min-content;
    border-radius: 0 5px 5px 0;

}

.UnitSelect {
    font-size: large;
    font-weight: bold;
    background: var(--container-background-color);
    border: none;
    width: max-content;
    height: 100%;
}

.UnitSelect:focus {
    filter: brightness(95%);
}

.GuessInputSubmitContainer {
    display: flex;
    flex-shrink: 4;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
    border: 5px solid var(--input-border-color);
    border-radius: 5px;
    min-width: 20%;
    height: 100%;
    padding: 0;
}

.GuessInputSubmit {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
    border: 0;
    height: 100%;
    font-weight: bold;
    font-size: large;
}

.GuessInputSubmit:focus {
    filter: brightness(85%);
    padding: 2px
}

.GuessInputSubmit:active {
    filter: drop-shadow(0 0 2px darkgreen) brightness(90%);
    padding: 4px;
}

.GuessesContainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}