
.GameContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    max-width: min(80vh, 80vw, 420px);
    gap: 1rem;
}

.Question {
    display: flex;
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 10px solid gray;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.GuessInput {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    min-height: 20px;
    background-color: dimgray;
    border: 5px solid lightslategray;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.GuessesContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}