
.modalContainer {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: start;
}

.modal {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: min(85vw, 640px);
    height: min(60vh, 640px);
    background: var(--container-background-color);
    border: 5px solid var(--container-border-color);
    border-radius: var(--question-border-radius);
    padding: 0 1% 0 1%;
}

.modal h1 {
    text-align: center;
    border-bottom: 5px solid var(--font-color);
    max-width: 100%;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.modal h2 {
    margin: 0;
}

.modal h3 {
    margin: 1px;
}

.modal h4 {
    margin: 0;
}

.modal p {
    margin-top: 0;
}

.backdrop {
    position: fixed;
    z-index: 4;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    opacity: 1;
}

.bulletContainer {
    display: flex;
    min-width: 100%;
    justify-content: start;
}

.bulletPoint {
    display: flex;
    justify-content: center;
    width: 1.5rem;
}

.bulletText {
    display: inline-block;
    width: 100%;
}

.verticalLineSeparator {
    display: flex;
    min-width: 100%;
    height: min-content;
    margin-top: 5px;
    border-top: 3px solid var(--font-color)
}