#root {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 0 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: start;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.site-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  max-height: 100%;
  gap: 1rem;
}

.top-bar {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
}