#root {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 0 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: start;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.site-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.game-background {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  width: 50vw;
  position: absolute;
  background-color: var(--game-background-color);
  z-index: -5;
  filter: drop-shadow(0 0 5vw var(--game-background-shadow));
}

.top-bar {
  display: flex;
  flex-shrink: 1;
  width: 40%;
  justify-content: space-between;
  border-bottom: 5px solid var(--font-color);
}

.top-bar-button {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  width: 25%;
  border: none;
  background: var(--game-background-color);
}

.top-bar-button img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

@media (width < 1200px) {
  .game-background {
    width: 100vw;
  }
  .top-bar {
    width: 100%;
  }

}

